header{
  text-align: center;
}
#title{
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 50px;
}
.clase1{
  font-family: 'RocknRoll One', sans-serif;
}
#imag-div{
 float: right;
 width: 50%;
}
#image{
  max-width: 100%;
  height: auto;  
  border-radius: 10px;
}
body{
 text-align: center;
 background: -webkit-linear-gradient(90deg, gray 10%,white  90%);
  }

p{
  padding: 20px;
  text-align: justify;
}
#img-caption{
  text-align: center;
}
a{
  color: black;
}
a:hover{
  color: white;
}
